
body {
  width: 1500px;
  margin: auto;
  background-color: white;
}


.main {
  height: 1000px;
  background-image: url("./img/header.png");
  background-position: relative;
  background-repeat: no-repeat;
}

              .header {
                height: 130px;
                display: flex;
                align-items: flex-end;   
              }

             

              .logo {
                height: 80px;
              }


              .nav {
                width: 20px;
                height: 50px;
              }
                .menu {
                  width: 300px;
                  display: flex;
                  flex-direction: row;
                  justify-content: space-between;
                }

                button {
                  height: 60px;
                  width: 200px;
                  background-color: orange;
                }
.about {
  height: 700px;
  background-image: -moz-radial-gradient( 50% 50%, circle closest-side, rgb(0,196,196) 0%, rgb(0,183,183) 32%, rgb(0,173,173) 68%, rgb(0,156,156) 100%);
  background-image: -webkit-radial-gradient( 50% 50%, circle closest-side, rgb(0,196,196) 0%, rgb(0,183,183) 32%, rgb(0,173,173) 68%, rgb(0,156,156) 100%);
  background-image: -ms-radial-gradient( 50% 50%, circle closest-side, rgb(0,196,196) 0%, rgb(0,183,183) 32%, rgb(0,173,173) 68%, rgb(0,156,156) 100%);
  background-position: relative;
}
  
.services {
  height: 800px;
  background-color: #70bfff;
  background-position: relative;
}
                
.nagłówek {
  font-size: 50px;
  font-weight: bold;
}

.gallery {
  height: 1500px;
  background-color: #ffe92f;
  background-position: relative;
}

.subscribe {
  height: 500px;
  background-image: url("./img/subscribe-bg.png");
  background-position: relative;
  background-repeat: no-repeat;
}

.blog {
height: 870px;
background-color: #b07cf7;
background-position: relative;
}

.contact {
  height: 860px;
  background-image: url("./img/contact-bg.png");
  background-position: relative;  
}

.footer {
  height: 90px;
  background-color: #262626;
  background-position: relative;
  }