
body {
  width: 1500px;
  margin: auto;
  background-color: white;
}


.main {
  height: 1000px;
  background-image: url("./img/header.png");
  background-position: relative;
  background-repeat: no-repeat;
}

  .header {
    height: 130px;
    padding: 40px 150px;
  }

      .logo {
        width: 200px;
        float: left;
      }

      .menu {
      float: right;
      width: 700px;
      height: 50px;
      display: flex;
      justify-content: space-between;
      text-transform: uppercase;
      font-weight: bold;
      padding-top: 15px;
    }

        .nav {
          padding: 8px;
          cursor: default;
        }
    
        .nav:hover {
          border-top: orange 2.5px solid;
        }
    
  button {
    height: 60px;
    width: 200px;
    background-color: orange;
  }


.about {
  height: 700px;
  padding: 0px 150px;
  background-color: rgb(0,196,196);
}
  
  .about-img {
    width: 600px;
    float: left;
    align-items: center;
  }

  .about-text {
    width: 515px;
    height: inherit;
    padding-left: 70px;
    float: left;
    display: flex;
    align-items: center;
    line-height: 30px;
  }

  .about-header{
    font-size: 90px;
    color: rgb(255, 255, 255);
    font-family: "Raleway";
    font-weight: bold;
  }

  .about-p {
    margin-top: 35px;
    font-size: 17px;
    font-family: "Raleway";
    color: rgb(255, 255, 255);
  }
  


  /*.About_Us {
    
    position: absolute;
    left: 832.879px;
    top: 1200px;
    z-index: 149;
  }*/
  

.services {
  height: 800px;
  background-color: #70bfff;
  background-position: relative;
}
                
.nagłówek {
  font-size: 50px;
  font-weight: bold;
  color:red;
}

.gallery {
  height: 1500px;
  background-color: #ffe92f;
  background-position: relative;
}

.subscribe {
  height: 500px;
  background-image: url("./img/subscribe-bg.png");
  background-position: relative;
  background-repeat: no-repeat;
}

.blog {
height: 870px;
background-color: #b07cf7;
background-position: relative;
}

.contact {
  height: 860px;
  background-image: url("./img/contact-bg.png");
  background-position: relative;  
}

.footer {
  height: 90px;
  background-color: #262626;
  background-position: relative;
  }